body {
  background-color: rgba(0,0,0,0.8);
}

div.container {
  width: 1370px;
  height: 740px;
  background-image: url(../img/background-img.jpg);
  background-size: cover;
  margin: 35px auto 0 auto;
}

div.container header {
  height: 50px;
}

div.container header .head-nav-l {
  width: 80%;
  padding-left: 30px;
}

div.container header .head-nav-l ul li {
  list-style: none;
  display: inline-block;
  padding: 0 15px;
  color: white;
  font-size: 14px;
  font-family: arial;
}

div.container header .head-nav-l ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: arial;
}

div.container header .head-nav-r {
  width: 15%;
  margin-top: -5px;
}

div.container header .head-nav-r ul li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}

div.container header .head-nav-r ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: arial;
}

div.container header .head-nav-r ul li img {
  width: 25px;
  padding-right: 15px;
}

div.container main {
  height: 650px;
}

div.container main .main-search {
  height: 600px;
}

div.container main .main-search .main-search-content {
  display: inline-block;
  padding: 100px 0 0 100px;
}

div.container main .main-search .main-search-content img {
  width: 100px;
  height: 40px;
  vertical-align: top;
}

div.container main .main-search .main-search-content input {
  width: 500px;
  height: 40px;
  margin-left: 20px;
  vertical-align: top;
}

div.container main .main-photo-info {
  height: 50px;
}

div.container main .main-photo-info .buttons {
  display: inline-block;
  float: right;
  padding: 30px 80px 0 0;
}

div.container main .main-photo-info .buttons button {
  height: 40px;
  width: 50px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 0;
  border: 1px rgba(0,0,0,0.3);
  color: white;
  font-family: arial;
  font-size: 14px;
}

footer .footer-nav-l {
  width: 80%;
  margin-top: -5px;
}

footer .footer-nav-l ul li {
  list-style: none;
  display: inline-block;
}

footer .footer-nav-l ul li a {
  color: rgba(255,255,255,0.5);
  text-decoration: none;
  font-family: arial;
  font-size: 13px;
  padding: 0 15px;
}

footer .footer-copyright {
  width: 15%;
}

footer .footer-copyright p {
  color: rgba(255,255,255,0.5);
  text-decoration: none;
  font-family: arial;
  font-size: 13px;
  text-align: right;
  list-style: none;
}

.full-width {
  width: 100%;
}

.pull-left {
  float: left;
}
